.edit-button {
  align-self: center;
  margin: 0 15px 8px 0;
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 1px solid #fff;
  background-image: url("../../images/profile-edit-button.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 0;
  background-size: 10px 10px;
}

@media screen and (max-width: 710px) {
  .edit-button {
    width: 18px;
    height: 18px;
    margin-bottom: 13px;
    margin-right: 0;
    background-size: 7.5px 7.5px;
  }
}
